.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 3.5rem;
    padding: var(--space-4) 0;
    margin-bottom: var(--space-6);
}

/* .page-header__info {} */

.page-header__title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    color: var(--color-text-primary);
}

/* .page-header__actions {} */
